body {
    margin: 0;
    padding: 0;
}
.navbar {
    overflow: hidden;
    background-color: #a1125f;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #111;
}
.body {
    padding: 16px;
    margin-top: 30px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 15px 30px;
}